/Debug/
.cproject
.project
*.pyc
*.o
*.db
*.dblite
.metadata
*.pcd
*.vtk
*.txt
*.ply
*/Debug/
/Inputs/
/Point\ Clouds/
*/PointCloudConstructor
*/CMakeFiles
*/cgal_test
SurfaceReconstruction/greedy_projection
PointCloudConstructor/PointCloudConstructor
SurfaceReconstruction/cmake_install.cmake
SurfaceReconstruction/Makefile
PointCloudConstructor/Point3D.h
PointCloudConstructor/~
